# IDE
.idea/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# OS
.DS_Store

# Не для репозитория
/lab1/docs/functions.md
/lab2/docs/functions.md
/lab2/tests/test_sierpinski.py
/lab1/docs/superpowers/
